// *, :root, html, body 스타일은 여기서 지정합니다.

* {
  /* Clear CSS */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: inherit;
  color: inherit;
  flex-shrink: 0;
}

:root {
}

html {
}

body {
  height: calc(var(--vh) * 100);
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

@font-face {
  font-family: "Nanum Gothic";
  font-style: normal;
  font-weight: 300;
  src: url("assets/fonts/NanumGothicLight.woff2") format("woff2");
}

@font-face {
  font-family: "Nanum Gothic";
  font-style: normal;
  font-weight: normal;
  src: url("assets/fonts/NanumGothic.woff2") format("woff2");
}

@font-face {
  font-family: "Nanum Gothic";
  font-style: normal;
  font-weight: bold;
  src: url("assets/fonts/NanumGothicBold.woff2") format("woff2");
}

@font-face {
  font-family: "Nanum Gothic";
  font-style: normal;
  font-weight: 800;
  src: url("assets/fonts/NanumGothicExtraBold.woff2") format("woff2");
}
